/* Variables */

:root {
    --basic-black: #000000;
    --basic-light-black: #333333;
    --basic-white: #FFFFFF;
    --basic-to-white: #FFFFFFE5;
    --basic-blue: #81B3D2;
    --basic-gray: #EEEEEE;
    --basic-brown: #766357;
    --basic-light-gray: #F2F2F2;
    --basic-dark-gray: #ABABAB;
    --basic-dark: #6A6A6A;
    --basic-neutral: #CACACA;
    --basic-extra-light: #A9A9A9;
    --basic-ultra-gray: #666666;
    
    --special-blue: #669EC0;
    --special-activ-blue: #5496BD;
    --special-brown: #604E43;
    --special-activ-brown: #503E33;
    --special-gray: #EBEBEB;
    --special-activ-gray: #BDBBBC;
    --special-focus-gray: #E5E5E5;

    --page-shadow: rgba(0, 1, 1, 0.2);
    --opacity-white: rgba(255, 255, 255, 0.3);
    --popup-shadow: rgba(0, 1, 1, 0.15);
    --opacity-to-white: rgba(255, 255, 255, 0.342);
    --toggle-shadow: rgba(171, 171, 171, 0.3);
    --opacity-last-white: rgba(255, 255, 255, 0.9);
}

/* Global */

.page-body {
    width: 1200px;
    margin: 0 auto;
    padding: 0;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: var(--basic-black);
    text-transform: uppercase;
    background-color: var(--basic-light-gray);
    box-shadow: 0px 5px 15px var(--page-shadow);
 
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
}

.images{
    max-width: 100%;
    height: auto;
    display: block;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.page {
    height: 100%;
}

.main-container {
    width: 1200px;
    margin: 0 auto;
    padding: 0;
    background-color: var(--basic-white);
}

/* Main navigation */

.main-navigation {
    line-height: 26px;
    font-weight: 700;
    min-height: 56px;
    color: var(--basic-black);
    background-color: var(--basic-white);
    margin: 0 auto;
    padding: 0 10px;
    position: relative;
}  

.main-header-logo {
    width: 138px;
    height: 70px;
    margin: 0;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 1;
}

.site-navigation {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0 62px;
    list-style: none;
    color: var(--basic-black);
}

.site-navigation li{
    margin-top: 15px; 
    width: 228px;  
}

.site-navigation li:nth-child(4n+2) {
    margin-right: 144px;
}

.site-navigation li:nth-child(4n+1),
.site-navigation li:nth-child(4n+2) {
    text-align: left;
}

.site-navigation li:nth-child(4n-1),
.site-navigation li:nth-child(4n) {
    text-align: right;
}

.site-navigation a {
    color: var(--basic-black);
    text-decoration: none;
} 

.site-navigation a:hover {
    color: var(--basic-blue);  
}

.site-navigation a:active {
    opacity: 0.3;
    color: var(--basic-black);
}

.site-navigation .site-navigation-current {
    color: var(--basic-brown);
}

/* Salutation */

.salutation {
    width: 1200px;
    height:509px;
    background-color: var(--basic-gray);
    background-image: url("../img/index/welcome/background-photo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.salutation img {
    display: block;
    margin: 0 auto;
    padding: 0;
    padding-top: 77px;
}

.salutation::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 1200px;
    height: 56px;
    background-image: url("../img/index/welcome/shape.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

/* Opinion */ 

.opinion {
    min-height: 216px;
    margin: 0 auto;
    padding: 0 10px;
}

.opinion-title {
    font-size: 21px;
    line-height: 26px;
    font-weight:700;
    width: 470px;
	min-height: 80px;
    text-align: center; 
    margin: 0 auto;
    padding: 0;
    padding-top: 42px;
}

.opinion-promo {
    text-align: center;
    line-height: 26px;
    margin: 0;
    padding: 0;
    margin-top: 16px;
    color: var(--basic-light-black);
}

/* Sity, Bridge */

.city {
    display: grid;
    grid-template-columns: 1fr auto;
    color: var(--basic-white);
    background-color: var(--basic-blue);
    margin: 0 auto;
    text-align: center;
}

.bridge  {
    display: grid;
    grid-template-columns: auto 1fr;
    color: var(--basic-white);
    background-color: var(--basic-blue);
    margin: 0;
    text-align: center;
}

.bridge h3 {
    display: block;
    width: 150px;
    height: 43px;
    margin: 0 auto;
    font-size: 21px;
    font-weight:700;
    margin-top: 50px;
}

.reason-nomber {
    display: block;
    margin-top: 25px;
    margin-bottom: 23px;
}

.city p,
.bridge p {
    margin: 0;
    padding: 0 10px;
}

/* Recommendations */

.recommendations {
    margin-bottom: 82px;
}

.recommendations-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 auto;
    padding: 0;
    list-style: none;
}

.recommendations-item {
    text-align: center;
    margin: 0 auto;
    padding: 0 40px;
    margin-top: 160px;
}

.recommendation-title {
    display: block;
    font-size: 21px;
    font-weight:700;
    margin: 0 auto;
    margin-bottom: 25px;    
}

.housing {
    position: relative;
}

.housing::before {
    content: "";
    position: absolute;
    top: -100px;
    left: 50%;
    width: 75px;
    height: 72px;
    transform: translateX(-50%);
    background-image: url("../img/index/icon-1.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.food {
    position: relative;
}

.food::before {
    content: "";
    position: absolute;
    top: -100px;
    left: 50%;
    width: 75px;
    height: 70px;
    transform: translateX(-50%);
    background-image: url("../img/index/icon-2.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.souvenirs {
    position: relative;
}

.souvenirs::before {
    content: "";
    position: absolute;
    top: -105px;
    left: 50%;
    width: 64px;
    height: 77px;
    transform: translateX(-50%);
    background-image: url("../img/index/icon-3.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.recommendations-item p {
    margin: 0 10px;
}

.subtitle {
    display: block;
    font-size: 21px;
    font-weight:700;
    margin: 0 auto;
    padding-top: 47px;
    width: 122px;
}

/* Advantages */

.advantages {
    background-color: var(--basic-gray);
    margin-bottom: 58px;
}

.advantages-list {
    display: grid;
    grid-template-columns: 400px 400px 400px;
    margin: 0;
    padding: 0;
    padding-bottom: 58px;
    list-style: none;
}

.advantages-item {
    text-align: center;
    margin: 0 auto;
    width: 290px;
}

.advantages-item p {
    margin: 0 10px; 
}

/* Search */

.search {
    display: grid;
    grid-template-rows: min-content  min-content;
    text-align: center;
}

.search-question {
    font-size: 30px;
    line-height: 24px;
    font-weight:700;
    margin: 0;
    margin-bottom: 4px;
    padding-right: 10px;
    
}

.search-info {
    display: block;
    width: 450px;
    line-height: 24px;
    margin: 0 auto;
    padding-top: 27px;
    padding-bottom: 43px;
}

/* Search-button */

.search-button {
    display: block;
    text-decoration: none;
    font-size: 21px;
    line-height: 26px;
    font-weight:700;
    width: 568px;
    text-align: center;
    color: var(--basic-white);
    text-transform: uppercase;
    background-color: var(--basic-brown);
    margin: 0 auto;
    padding: 30px 0;
    position: relative;
}

.search-button:hover {
    background-color: var(--special-brown);
}

.search-button:active {
    color: var(--opacity-white);
    background-color: var(--special-activ-brown);
}

/* Reservation */

.reservation {
    width: 458px;
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    margin: 0 auto;
    margin-bottom:-395px;
    padding: 55px;
    color: var(--basic-black);
    background-color: var(--basic-white);
    box-shadow: 0px 7px 15px var(--popup-shadow); 
    position: absolute;
    margin-left: 316px;
}

.reservation-form {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

.reservation-form p {
    display: flex;
    justify-content: space-between;    
    height: 38px;
    margin: 0;
    position: relative;
    margin-bottom: 29px;
}

.reservation-in {
    width: 458px;
}

.reservation-out {
    margin-bottom: 30px;
    width: 458px;
}


.reservation-in label,
.reservation-out label,
.reservation-kids label,
.reservation-adults label {
    align-self: center;
}

.people {
    display: flex;
    justify-content: space-between;
    width: 458px;
    margin-bottom: 25px;
}

.reservation-adults {
    width: 50%;
    margin-right: 53px;
}

.reservation-kids {
    width: 179px;
}

.reservation input::placeholder {
    color: var(--basic-black);
}    

.reservation-data {
    box-sizing: border-box;
    width: 346px;
    font-weight: 700;
    color: var(--basic-black);   
    text-transform: uppercase; 
    background-color: var(--basic-light-gray);
    border: none;
    box-sizing: border-box;
    margin: 0;
    padding-left: 14px;
}

.reservation-people {
    box-sizing: border-box;
    width: 114px;
    height: 38px;
    color: var(--basic-black);
    font-weight: 700;
    text-transform: uppercase; 
    background-color: var(--basic-light-gray);
    border: none;
    margin: 0;
    padding: 0;
    text-align: center;   
}

.reservation-data:hover,
.reservation-people:hover {
    background-color: var(--special-gray);
    border: none;
}

.reservation-data:focus,
.reservation-people:focus {
    background-color: var(--basic-white);
    border: none;
    outline: 2px solid var(--special-focus-gray);
}

.calendar {
    position: absolute;
    top: 7px;
    right: 8px;
    width: 21px;
    height: 23px;
}

.minus-adults {
    position: absolute;
    top: 10px;
    left: 125px; 
}

.plus-adults {
    position: absolute;
    top: 12px;
    left: 202px;
}

.minus-kids {
    position: absolute;
    top: 8px;
    left: 80px;
}

.plus-kids {
    position: absolute;
    top: 12px;
    left: 155px;
}

.calendar,
.minus-button,
.plus-button {
    color: var(--basic-extra-light);
    border: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
    background-color: transparent;
}

.calendar:hover path,
.minus-button:hover path,
.plus-button:hover path {
    fill: var(--basic-black);
}

.calendar:focus path,
.minus-button:focus path ,
.plus-button:focus path {
    fill: var(--basic-blue);
}

.reservation-button {
    width: 458px;
    font-size: 21px;
    line-height: 27px;
    color: var(--basic-white);
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    background-color: var(--basic-blue);
    margin: 0;
    padding: 16px 0;
    text-align: center;
    border:none;
    border-radius: 0;
}

.reservation-button:hover {
    background-color: var(--special-blue);
}

.reservation-button:active {
    color: var(--opacity-to-white);
    background-color: var(--special-activ-blue);
}

/* Animation */

.popup-close {
    display: none;
}

@keyframes modal-show  {
    0% {
        transform: scaleY(0.1);
    }
    60% {
        transform: scaleY(0.98);
    }
    100% {
        transform: scaleY(1);
    }                           
}

.popup-show {
    display: block;
    animation-name: modal-show;
    animation-duration: 2s;
    transform-origin: 50% 0%;
}

@keyframes shake {
    0%, 100% {transform: translate(0, 0);}
    10%, 30%, 50%, 70%, 90% {transform: translate(10%, 0);}
    20%, 40%, 60%, 80% {transform: translate(-10%, 0);}   
}

.error {
    animation-name: shake;
    animation-duration: 1s;
}

/* Map */

.map {
    width: 1200px;
    height: 594px;
}

.map iframe {
    border: none;
}

/* Filters */

.catalog-container {
    display: grid;
    grid-template-rows: max-content 1fr;
    width: 1200px;
    margin: 0 auto;
    padding: 0;
    background-color: var(--basic-white);
}

.filters {
    width: inherit;
    min-height:217px;
    background-color: var(--basic-ultra-gray);
    background-image: url("../img/catalog/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -14px;
}

.filter {
    display: grid;
    grid-template-columns: 254px 483px 317px;
    color: var(--basic-white);
    margin: 0 72px;
    padding-top: 27px ;
}

.filter fieldset {
    margin: 0;
    padding: 0;
    border: none;
}

.filter-option {
    margin-bottom: 25px;
}

.filter legend {
    font-size: 16px;
    line-height: 21px;
    font-weight: 700;
    margin-bottom: 24px;
}

.filter ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.filter-option label {
    position: relative;
    display: block;
    cursor: pointer;
    padding-left: 41px;
}  

.filter-input-checkbox:hover + label,
.filter-input-checkbox:focus + label {
    color: var(--basic-white);
}

.filter-input-checkbox + label::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 23px;
    height: 23px;
    background-image: url("../img/catalog/checkbox-off.svg");
    background-repeat: no-repeat;
}

.filter-input-checkbox:checked + label::before {
    width: 27px;
    height: 23px;
    background-image: url("../img/catalog/checkbox-on.svg");
    background-repeat: no-repeat; 
}

.filter-input-checkbox:disabled + label {
    cursor: default;
    color: var(--basic-dark);
}

.filter-item legend {
    margin-bottom: 11px;
}

.cost-control {
    display: flex;
    width: 317px;
    margin: 0;
    padding: 0;
    border: 2px solid var(--basic-white);
    border-radius: 2px;
    position: relative;
}

.cost-control-min,
.cost-control-max {
    align-items: center;
    width: 50%;
}

.cost-control::before {
    content: "";
    position: absolute;
    top: 7px;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 22px;
    background-color: var(--basic-white);
}

.cost-control input {
    margin: 0;
    padding: 7px 0;
    color: var(--basic-white);
    background-color: transparent;
    list-style: none;
    border: none;
    text-align: center;
    text-transform: uppercase;
}   

.cost-control input::placeholder {
    color: var(--basic-white);
}   

.range-controls {
    position: relative;
    background-color: transparent;
    padding-top: 20px;
    margin-bottom: 34px;
  }

.range-controls .scale {
    height: 2px;
    background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
    width: 255px;
    height: 2px;
    background: var(--basic-white);
}

.range-controls .toggle {
    position: absolute;
    top: 10px;
    left: 0;
    width: 4px;
    height: 4px;
    padding: 0;
    border: 8px solid var(--basic-white);
    background-color: var(--basic-dark-gray);
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 var(--toggle-shadow);
    cursor: pointer;
}

.range-controls .toggle-max {
    left: 254px;
}


.range-controls .toggle:hover {
    width: 5px;
    height: 4px;
    border: 9px solid var(--basic-white);
}


.filter-button {
    display: block;
    min-width: 137px;
    min-height: 36px;
    padding: 0;
    margin: 0 87px; 
    color: var(--basic-white);
    background-color: transparent;
    border: 2px solid var(--basic-white);
    border-radius: 2px;
    text-transform: uppercase;
    cursor: pointer;
}

.filter-button:hover,
.filter-button:focus,
.filter-button:active {
    color: var(--basic-black);
    background-color: var(--basic-white);
}

/* Catalog */

.catalog {
    margin-bottom: 120px;
}

.sorting {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 73px;
    margin: 0;
    min-height: 86px;
    border-bottom: 1px solid var(--special-focus-gray);
}

.sorting h3 {
    font-size: 21px;
    line-height: 26px;
    padding: 0;
    margin: 0;
    margin-right: 46px; 
}

.sorting h4 {
    font-size: 12px;
    line-height: 18px;
    padding: 0;
    margin: 0;
    margin-right: 40px; 
}

.sorting-list {
    display: flex;
    list-style: none;
    font-size: 12px;
    line-height: 18px;
    padding: 0;
    margin: 0;
}

.sorting-list a {
    display: block;
    color: var(--basic-black);
    opacity: 0.3;
    text-decoration: underline dashed;
    margin-right: 33px;
}

.sorting-list a:hover {
    color: var(--basic-blue);
    text-decoration: none;
    opacity: 1;
    text-decoration: underline dashed;
}

.sorting-list a:active {
    color: var(--basic-black);
    text-decoration: none;
}

.sorting-current a,
.sorting-current a:hover,
.sorting-current a:focus,
.sorting-current a:active {
    color: var(--basic-blue);
    text-decoration: none;
    opacity: 1;
}

.pages {
    margin-left: auto;
}

.pages a {
    color: var(--basic-neutral);
    text-decoration: none;
    margin-right: 12px;
    width: 11px;
    height: 10px;
}

.pages a:last-child {
    margin-right: 0;
}

.pages a:hover path {
    fill: var(--basic-black);
}

.pages a:active path {
    fill: var(--basic-blue);
}

/* Catalog-list */

.catalog-list {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    list-style: none;
    padding: 0;
    margin: 0;
}

.catalog-item {
    display: flex;
    padding: 0 73px;
    padding-bottom: 30px;
    border-bottom: 1px solid var(--special-focus-gray);
}

.catalog-item-image {
    display: block;
    width: 135px;
    height: 90px;
    padding: 0;
    margin: 30px 29px 0 0;
}

.catalog-item-description {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr min-content;
}

.title-item {
    display: block;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    color: var(--basic-black);
    text-decoration: none;
    text-transform: uppercase;
    margin-bottom: 7px;
    margin-top: 24px; 
}

.title-item:hover {
    color: var(--basic-blue);
}

.title-item:active {
    color: var(--basic-black);
    opacity: 0.3;
}

.catalog-item p {
    color: var(--basic-light-black);
    margin: 0;
} 

.catalog-item-detail {
    display: flex;
    justify-content: space-between;
    width: 212px;
    margin-bottom: 16px;
}

.price {
    min-width: 96px;
}

.catalog-button {
    display: flex;
}

.catalog-detailed-button {
    display: block; 
    font-size: 14px;
    line-height: 21px;
    color: var(--basic-white);
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    background-color: var(--basic-blue);
    border: none;
    width: 110px;
    padding: 3px 0;
    margin-right: 6px;
}

.detailed-button:hover {
    background-color: var(--special-blue);
}

.detailed-button:active {
    color: rgba(255,255,255, 0.3);
    background-color: var(-special-activ-blue);
}

.catalog-order-button {
    display: block;
    font-size: 14px;
    line-height: 21px;
    font-weight:700;
    text-align: center;
    color: var(--basic-white);
    text-decoration: none;
    text-transform: uppercase;
    background-color: var(--basic-brown);
    border: none;
    width: 142px;
    padding: 3px 0;
}

.order-button:hover {
    background-color: var(--special-brown);
}

.order-button:active {
    color: rgba(255,255,255, 0.3);
    background-color: var(--special-activ-brown);
}

.catalog-rating {
    align-self: flex-end;
}

.stars {
    height: 17px;
    width: 91px;
    margin-left: auto;
    margin-bottom: 47px;
    background-image: url("../img/catalog/star.svg");
    background-repeat: space;
}

.stars-four {
    width: 91px;
}

.stars-three {
   width: 67px;
}

.stars-two {
   width: 42px;
}

.rating {
    display: block;
    width: 83px;
    padding: 3px 12px 3px 15px;
    color: var(--basic-ultra-gray);
    background-color: var(--basic-light-gray);
}
/* Main-footer */
.main-footer{
    position: relative;
}

.footer-container {
    display: grid;
    grid-template-columns: 328px 400px 328px;
    background-color: var(--opacity-last-white);
    min-height: 120px;
    padding:0 72px;
    position: absolute;
    bottom: 0;
        
} 

.footer-contacts{
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-top: 23px;
    align-items: center;
    justify-self: center;   
}

.footer-contacts a,
.footer-contacts a:hover,
.footer-contacts a:focus,
.footer-contacts a:active {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: var(--basic-black);
    text-decoration: none;
    margin-bottom: 9px;
}

.footer-social {
    display: flex;
    flex-wrap: wrap;
    justify-self: center;
}
  
.footer-social ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 150px;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    align-items: center;
}

/* Social button */
  
.social-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 46px;
    height: 48px;
    color: var(--basik-white);
    background-color: var(--basic-blue);
    text-decoration: none;
}
  
.social-button:hover {
    background-color: var(--special-blue);
}

.social-button:active path {
    fill: rgba(255, 255, 255, 0.3);
    background-color: var(-special-activ-blue);
}

.footer-copyright {
    display: flex;
    justify-content: space-between; 
    margin: 0;
    justify-self: center;
    align-items: center;
}

.footer-copyright span {
    width: 74px;
    height: 26px;
    line-height: 26px;
    margin-right: 15px;
    padding-left: 10px;
    padding-bottom: 5px;
}

.academy-link {
    display: inline-block;
    vertical-align: middle;
    color: inherit;
    width: 115px;
    height: 33px;    
}

.academy-link:hover path {
    fill: var(--basic-blue);
}

.academy-link:active path {
    fill: var(--special-activ-gray);
}
